# Database Configuration
DB_USER=sponsorbase
DB_PASSWORD=postgres
DB_NAME=sponsorbase
DATABASE_URL=postgresql://sponsorbase:postgres@db:5432/sponsorbase

# Authentication Setup
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"

# Meilisearch Setup
MEILISEARCH_HOST=http://meilisearch:7700
MEILISEARCH_API_KEY=masterKey

# Redis Setup
REDIS_HOST=redis
REDIS_PORT=6379

# CORS Origin Config
ALLOWED_ORIGINS=http://localhost:3000,http://localhost
